<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

        /* Sticky footer styles
        -------------------------------------------------- */

        html,
        body {
            height: 100%;
            font-family: "微软雅黑"
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
            width: auto;
            max-width: 680px;
        }

        .container .credit {
            margin: 20px 0;
        }

        .form-signin {
            max-width: 300px;
            padding: 10px 29px 29px;
            margin: 200px auto 20px;
            background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 18px;
            height: auto;
            margin-bottom: 15px;
            padding: 10px 10px;
        }

    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
</head>

<body style="overflow: hidden">


<!-- Part 1: Wrap all page content here -->
<div style="background:#777777;height:inherit">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#"><%= title %></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="#" onClick="toggleMenu('0')">直播列表</a></li>
                        <li><a href="#register" onClick="toggleMenu('1')">新用户注册</a></li>
                        <% if(userid == "0"){ %>
                        <li><a href="#login" onClick="toggleMenu('3')">登录我的账号</a></li>
                        <% }else{ %>
                        <li><a href="#usercenter" onClick=""><img src="/assets/img/head.jpg"
                                                                  style="height:20px;width:20px;border-radius: 10px"/>&nbsp;<%= username %>
                            </a></li>
                        <% } %>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <!-- Begin page content -->

    <div class="container" id="steamlist" style="height:inherit">
        <div style="position: absolute;left: 0px;height:inherit">
            <ul class="thumbnails"
                style="width:360px;height:inherit;padding-left:4px;float: left;position: relative;padding-top:40px;background:#777777;overflow-y: auto">
                <li class="span3">
                    <div style="width: 320px; height: 220px;background:#DDDDDD;text-align:center;cursor:pointer;margin-top:10px;margin-bottom:10px">
                        <div style="width: 320px; height: 180px;background-image:url(/assets/img/liveback.jpg);background-size:contain">
                        </div>
                        <p style="padding:10px;font-size:16px">主播:XXX</p>
                    </div>

                    <div style="width: 320px; height: 220px;background:#DDDDDD;text-align:center;cursor:pointer;margin-top:20px">
                        <div style="width: 320px; height: 180px;background-image:url(/assets/img/liveback.jpg);background-size:contain">
                        </div>
                        <p style="padding:10px;font-size:16px">主播:XXX</p>
                    </div>

                    <div style="width: 320px; height: 220px;background:#DDDDDD;text-align:center;cursor:pointer;margin-top:20px">
                        <div style="width: 320px; height: 180px;background-image:url(/assets/img/liveback.jpg);background-size:contain">
                        </div>
                        <p style="padding:10px;font-size:16px">主播:XXX</p>
                    </div>

                    <div style="width: 320px; height: 220px;background:#DDDDDD;text-align:center;cursor:pointer;margin-top:20px">
                        <div style="width: 320px; height: 180px;background-image:url(/assets/img/liveback.jpg);background-size:contain">
                        </div>
                        <p style="padding:10px;font-size:16px">主播:XXX</p>
                    </div>

                    <div style="width: 320px; height: 220px;background:#DDDDDD;text-align:center;cursor:pointer;margin-top:20px">
                        <div style="width: 320px; height: 180px;background-image:url(/assets/img/liveback.jpg);background-size:contain">
                        </div>
                        <p style="padding:10px;font-size:16px">主播:XXX</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container" id="regi" style="display:none">
        <form class="form-signin">
            <h3 class="form-signin-heading">&nbsp;&nbsp;用户注册</h3>
            <input id="register_username" type="text" class="input-block-level" placeholder="账号">
            <input id="register_password" type="password" class="input-block-level" placeholder="密码">
            <button onClick="register()" class="btn btn-large btn-success" type="submit"><i class="icon-ok icon-white"
                                                                                            style="margin-left:-10px"></i>&nbsp;&nbsp;注册
            </button>
        </form>
    </div>

    <div class="container" id="cont" style="display:none">
        联系方式
    </div>


    <div class="container" id="login" style="display:none">
        <form class="form-signin">
            <h3 class="form-signin-heading">&nbsp;&nbsp;用户登录</h3>
            <input id="username" type="text" class="input-block-level" placeholder="邮箱/账号/手机号">
            <input id="password" type="password" class="input-block-level" placeholder="密码">
            <label class="checkbox" style="font-size:16px">
                <input type="checkbox" value="remember-me"> 记住我
            </label>
            <button onClick="login()" class="btn btn-large btn-success" type="submit"><i class="icon-ok icon-white"
                                                                                         style="margin-left:-10px"></i>&nbsp;&nbsp;登录
            </button>
        </form>
    </div>
</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<script src="/assets/js/bootstrap-alert.js"></script>
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<script src="/assets/js/bootstrap-scrollspy.js"></script>
<script src="/assets/js/bootstrap-tab.js"></script>
<script src="/assets/js/bootstrap-tooltip.js"></script>
<script src="/assets/js/bootstrap-popover.js"></script>
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<script src="/assets/js/bootstrap-carousel.js"></script>
<script src="/assets/js/bootstrap-typeahead.js"></script>

<script type="text/javascript">
    function toggleMenu(obj) {
        if (obj == '0') {
            $("#login").hide();
            $("#steamlist").show();
            $("#regi").hide();
        }
        else if (obj == '1') {
            $("#login").hide();
            $("#steamlist").hide();
            $("#regi").show();
        }
        else if (obj == '3') {
            $("#login").show();
            $("#steamlist").hide();
            $("#regi").hide();
        }
    }


</script>

</body>
</html>
